.testimonials {
    min-height: 70vh;
    padding-block: 4rem;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
}

.textContent,
.carousel {
    width: 40vw;
    max-width: 700px;
}

.textContent h2 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 40px;
}

.quote {
    font-size: 1rem;
    width: 90%;
}

.carousel {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}


.leftArrow,
.rightArrow {
    border-radius: 50%;
    background-color: var(--lemon);
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}